The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

Sort the list and find the min and max age

In [1]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
print("min =%d,max = %d" % (ages[0],ages[len(ages)-1]))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
min =19,max = 26

Add the min age and the max age again to the list

In [2]:
slct =[]
slct.append(ages[0])
slct.append(ages[len(ages)-1])
ages.extend(slct)
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

Find the median age (one middle item or two middle items divided by two)

In [3]:
def median(ages):
    mid_val = len(ages)//2
    if(len(ages) % 2!=0):
        return (ages[mid_val-1]+ages[mid_val]) // 2.0
    return ages[mid_val]

print(median(ages))

24

Find the average age (sum of all items divided by their number)

In [54]:
def avgs(ages):
    return sum(ages)/len(ages)
print(avgs(ages))

22.75

Find the range of the ages (max minus min)

In [53]:
print("range is %d" % (slct[1]-slct[0]))
print("i..e.. range of ages is (%d,%d)" % (slct[0],slct[1]))

range is 7
i..e.. range of ages is (19,26)

Create an empty dictionary called dog

In [6]:
dog ={}

Add name, color, breed, legs, age to the dog dictionary

In [41]:
dog['Name'] = 'gimmy'
dog['color'] = 'White'
dog['Breed'] = 'Pug'
dog['Leg'] = 4
dog['Age'] = '1 Year'
print(dog)

{'Name': 'gimmy', 'color': 'White', 'Breed': 'Pug', 'Leg': 4, 'Age': '1 Year'}

Create a student dictionary and add first_name, last_name, gender, age, marital status,
skills, country, city and address as keys for the dictionary#

In [44]:
student ={}
student['First_name'] = 'John'
student['Last_name'] = 'Edpuganti'
student['Gender'] = 'Male'
student['Age'] = '24 Years'
student['Marital Status'] = 'Single'
student['Skills'] = ['Java','SQL']
student['Country'] = 'India'
student['City'] = 'Rajahmundry'
student['Address'] = 'Bommuru,533124'

print(student)

{'First_name': 'John', 'Last_name': 'Edpuganti', 'Gender': 'Male', 'Age': '24 Years', 'Marital Status': 'Single', 'Skills': ['Java', 'SQL'], 'Country': 'India', 'City': 'Rajahmundry', 'Address': 'Bommuru,533124'}

Get the length of the student dictionary

In [45]:
print(len(student))

9

Get the value of skills and check the data type, it should be a list

In [10]:
print(type(student['Skills']))

<class 'list'>

Modify the skills values by adding one or two skills

In [14]:
student['Skills'].append('Python')
student

{'First_name': 'John',
 'Last_name': 'Edpuganti',
 'Gender': 'Male',
 'Age': '24 Years',
 'Marital Status': 'Single',
 'Skills': ['Java', 'SQL', 'Python'],
 'Country': 'India',
 'City': 'Rajahmundry',
 'Address': 'Bommuru,533124'}

Get the dictionary keys as a list

In [15]:
studentKeys = list(student.keys())
print(studentKeys)

['First_name', 'Last_name', 'Gender', 'Age', 'Marital Status', 'Skills', 'Country', 'City', 'Address']

Get the dictionary values as a list

In [16]:
studentValues = list(student.values())
print(studentValues)

['John', 'Edpuganti', 'Male', '24 Years', 'Single', ['Java', 'SQL', 'Python'], 'India', 'Rajahmundry', 'Bommuru,533124']

Create a tuple containing names of your sisters and your brothers (imaginary siblings are
fine)

In [17]:
sister = ('Ramya','Sudha')
brothers = ('Dheeraj','Kanna')

Join brothers and sisters tuples and assign it to siblings

In [18]:
siblings = sister + brothers
siblings

('Ramya', 'Sudha', 'Dheeraj', 'Kanna')

How many siblings do you have?

In [19]:
print("Number of siblings are %d" % (len(siblings)))

Number of siblings are 4

Modify the siblings tuple and add the name of your father and mother and assign it to
family_members

In [20]:
family_members = siblings + ('Ram', 'Vijaya')
print(family_members)

('Ramya', 'Sudha', 'Dheeraj', 'Kanna', 'Ram', 'Vijaya')

Find the length of the set it_companies

In [21]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [22]:
print(len(it_companies))

7

Add 'Twitter' to it_companies

In [23]:
it_companies.add('Twitter')
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

Insert multiple IT companies at once to the set it_companies

In [24]:
it_companies.update({'TCS','Capgemini','Deloite'})
it_companies

{'Amazon',
 'Apple',
 'Capgemini',
 'Deloite',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'TCS',
 'Twitter'}

Remove one of the companies from the set it_companies

In [25]:
it_companies.remove('TCS')
print(it_companies)

{'Microsoft', 'Facebook', 'Google', 'Amazon', 'Capgemini', 'Deloite', 'Twitter', 'Apple', 'Oracle', 'IBM'}

What is the difference between remove and discard

remove method will check for item and delete, if item was not found in set then it throws error.
 On other hand discord method also used to remove specific element form set but main difference is that 
 discord method wont throw error even if item not present in set

Join A and B

In [26]:
NewSet = A|B
print(NewSet)

{19, 20, 22, 24, 25, 26, 27, 28}

Find A intersection B

In [27]:
intersectionset = A.intersection(B)
intersectionset

{19, 20, 22, 24, 25, 26}

Is A subset of B

In [28]:
print(A.issubset(B))

True

Are A and B disjoint sets

In [29]:
print(A.isdisjoint(B))

False

Join A with B and B with A

In [30]:
Newjoin = A|B & B|A
Newjoin

{19, 20, 22, 24, 25, 26, 27, 28}

What is the symmetric difference between A and B

In [31]:
print(A.symmetric_difference(B))

{27, 28}

Delete the sets completely

In [32]:
A.clear()

Convert the ages to a set and compare the length of the list and the set

In [33]:
agesSet = set(age)
print(agesSet)
print("set len is %d, list len is %d" % (len(age),len(agesSet)))

{19, 22, 24, 25, 26}
set len is 8, list len is 5

The radius of a circle is 30 meters.
Calculate the area of a circle and assign the value to a variable name of _area_of_circle_

In [34]:
def area(r, _area_of_circle_=None):
    _area_of_circle_ = 3.141592653589793238*r*r
    return _area_of_circle_

print(area(30))

2827.4333882308138

Calculate the circumference of a circle and assign the value to a variable name of
_circum_of_circle_

In [35]:
def circumference(r,_circum_of_circle_=None):
    _circum_of_circle_ = 2*3.141592653589793238*r
    return _circum_of_circle_

print(circumference(30))

188.49555921538757

Take radius as user input and calculate the area.

In [36]:
Givenradius = int(input("please enter radius"))
print(area(Givenradius))

please enter radius10
314.1592653589793

“I am a teacher and I love to inspire and teach people”
• How many unique words have been used in the sentence? Use the split methods and set
to get the unique words.

In [49]:
str ="I am a teacher and I love to inspire and teach people"
uniqueWords = set(str.split(' '))
print(len(uniqueWords))
print(uniqueWords)

10
{'am', 'I', 'and', 'teach', 'to', 'love', 'teacher', 'inspire', 'a', 'people'}

Use a tab escape sequence to get the following lines.
 Name Age Country City
 Asabeneh 250 Finland Helsinki

In [38]:
print("Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

Use the string formatting method to display the following:
radius = 10
area = 3.14 * radius ** 2
“The area of a circle with radius 10 is 314 meters square.”

In [39]:
radius = 10
area = 3.14 * radius ** 2
print("The area of a circle with radius %d is %d meters square."%(radius,area))

The area of a circle with radius 10 is 314 meters square.

In [ ]:
Write a program, which reads weights (lbs.) of N students into a list and convert these weights to
kilograms in a separate list using Loop. N: No of students (Read input from user)
Ex: L1: [150, 155, 145, 148]
Output: [68.03, 70.3, 65.77, 67.13]

In [40]:
L1= [150, 155, 145, 148]
Kgs = [value * 0.453592 for value in L1]
print(Kgs)

[68.0388, 70.30676, 65.77083999999999, 67.131616]